<div class="container">
    <div class="text-center"> 
        <table class="table mx-auto"> 
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Alter</th>
                    <th>Geburtsdatum</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let child of storeService.children">
                    <td>{{ child.name }}</td>
                    <td>{{ getAge(child.birthDate) }}</td>
                    <td>{{ child.birthDate | date:'longDate' }}</td>
                    <td>
                        <button (click)="cancelRegistration(child.id)">Kind abmelden</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <mat-paginator [length]="storeService.children.length"
    [pageSize]="4"
    [pageSizeOptions]="[1, 2, 3, 4, 5, 6]"
    (page)="onPageChange($event)"
    aria-label="Select page">
</mat-paginator> -->
    <div class="pagination-row row">
        <div class="col-12 d-flex justify-content-center">
            <button [ngClass]="{ 'active': page === currentPage }" (click)="selectPage(page)" type="button" *ngFor="let page of returnAllPages()">{{ page }}</button>
        </div>
    </div>
</div>
